<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Hibernian Rail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->

</head> 
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Hibernian Rail</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">STRIKES</a></li>
                    <li><a th:href="@{/BookTicket.html}">BOOKINGS</a></li>
                    <li><a href="#">ADMIN</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>
        </div> 
        <div class="content">
            <div class="">

                <div class="">
                    <h1>Reserve Your Ticket</h1>
                </div>
    
                <div class="">
                    <input type="radio" class="radio" name="r">
                    <label class="text-white">One Way</label>
                    <input type="radio" class="radio" name="r">
                    <label class="text-white">Return</label>
                </div>
    
                <div class="signup-content2">
                    <input type="text" placeholder="From" class="input bg-dark">
                    <input type="text" placeholder="To" class="input bg-dark"><br>
                
    
                <label class="text-white" style="margin-left:10px;">Depart</label>
                <input type="date" class="tarikh bg-dark text-white">
                <label class="text-white" style="margin-left:10px;">Return</label>
                <input type="date" class="tarikh bg-dark">
    
                <input type="number" class="bg-dark person" placeholder="Adults">
                <input type="number" class="bg-dark person" placeholder="Children"><br>
    
                <label class="text-white travel">Travel Class</label>
                <select class="bg-dark text-white travel2">
                    <option></option>
                    <option>Member</option>
                    <option>Guest</option>
                </select>
    
                <input type="submit" value="Check Availability" class="submit-btn bg-warning">
            </div>
            </div>
        </form>
        </div>
        
    <!-- Footer -->

    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>