<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Hibernian Rail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->

</head> 
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Hibernian Rail</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a th:href="@{/Index}">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">STRIKES</a></li>
                    <li><a th:href="@{/BookTicket}">BOOKINGS</a></li>
                    <li><a th:href="@{/Admin}">ADMIN</a></li>
                </ul>
            </div>

            <div class="search">
                <input id="greyph" class="srch" type="search" name="" placeholder="Search">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <div class="content">
              
            <h1>Book Your Ticket</h1>
        
            <div th:if="${param.success}">
                <div class="alert alert-info">
                  You have successfully booked a ticket!
                </div>
            </div>

            <form
            method="post"
            role="form"
            th:action="@{/BookTicket/routes}"
            th:object="${ticket}"
            id="ticketForm">
    
                <!-- <div class="">
                    <input type="radio" class="radio"  th:field="*{ticketReturn}" name="r">
                    <label class="text">One Way</label>
                    <input type="radio" class="radio" th:field="*{ticketReturn}" name="r">
                    <label class="text">Return</label>
                </div> -->
    
                <div class="signup-content2">
                
                    <div class="form-group mb-3">
                    <label class="form-label">Select Departure Station</label>

                    <tr>
                        <td>
                            <select id="depDropDown" class="form-control" th:field="*{depStation}">
                                <option value="0">select option</option>
                                <option th:each="station : ${listStations}" 
                                th:value="${station.getId()}" 
                                th:text="${station.getLocation()}"></option>
                                </option>
                             </select>  
                        </td>
                        <p th:errors = "*{depStation}" class="text-danger"
                           th:if="${#fields.hasErrors('depStation')}"></p>
                    </tr>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Select Arrival Station</label>

                    <tr>
                        <td>
                            <select id="arrDropDown" class="form-control" th:field="*{arrStation}">
                                <option value="0">select option</option>
                                <option th:each="station : ${listStations}" 
                                th:value="${station.getId()}" 
                                th:text="${station.getLocation()}" ></option>
                                </option>
                             </select>  
                             <p th:errors = "*{arrStation}" class="text-danger"
                           th:if="${#fields.hasErrors('arrStation')}"></p>
                        </td>
                    </tr>
                    </div>
            
                    <label class="text-white" style="margin-left:10px;">Depart</label>
                    <input th:field="*{date}" type="date" class="tarikh bg-dark text-black">
                    <p th:errors = "*{date}" class="text-danger"
                           th:if="${#fields.hasErrors('date')}"></p>
                    <!-- <label class="text-white" style="margin-left:10px;">Return</label>
                    <input type="date" class="tarikh bg-dark text-black"> -->

                    <br>
                    <label class="form-label">Passenger Type</label>
                    <select id="ptypeDropDown" class="form-control" th:field="*{passType}">
                        <option value="0">select option</option>
                        <option th:value="ADULT">Adult</option>
                        <option th:value="YA">Young Adult</option>
                        <option th:value="CHILD">Child</option>
                        <option th:value="OAP">OAP</option>
                    </select>


                    <br>
                    <label class="form-label">Ticket Type</label>
                    <select id="ttypeDropDown" class="form-control" th:field="*{ticketType}">
                        <option value="0">select option</option>
                        <option th:value="SEMI">semi-flexible</option>
                        <option th:value="FLEX">flexible</option>
                        <option th:value="FIRST">first class</option>
                    </select>
                    <p th:errors = "*{ticketType}" class="text-danger"
                            th:if="${#fields.hasErrors('ticketType')}"></p>
                <input type="submit" value="Check Availability" class="">
                </div>
            <!-- </form> -->
        
                <div th:if="${param.empty}">
                    <div class="alert alert-info">
                      There are no routes for these stations
                    </div>
                </div>
                <div th:if="${param.times}">
                    <form
                    method="post"
                    role="form"
                    th:action="@{/BookTicket/save}"
                    th:object="${ticket2}"
                    id="routesForm">
                    <table>
                        <thead>
                            <tr class="headings">
                                <th class="column-title">ID</th>
                                <th class="column-title">Departure Time</th> 
                                <th class="column-title">Arrival Time</th> 
                                <th class="column-title" >Choose Route</th> 
                            </tr>
                        </thead>
                    
                        <tbody>
                            <tr th:each="route : ${routes}">
                            <td th:text="${route.getId()}"></td>
                            <td th:text="${route.getStationTime(ticket.getDepStation())}"></td>
                            <td th:text="${route.getStationTime(ticket.getArrStation())}"></td>
                            <td>
                                <div class="radio">
                                    <label><input class="form-control" type="radio" id='routeChoice' name="routeChoice" th:value="${route}" th:field="*{route}"></label>
                                </div>
                            </td>
                            </tr>
                        </tbody>
                    </table>

                    <input type="submit" value="Book Ticket" th:formaction="@{/BookTicket/save}" class="">
                </div>
            </form>
            </form>
           <!-- Footer -->
           </div>

    </div>
</body>
</html>