<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Hibernian Rail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="https://kit.fontawesome.com/9bd3b571e5.js" crossorigin="anonymous"></script>
</head> 
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Hibernian Rail</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a th:href="@{/register}">ABOUT</a></li>
                    <li><a th:href="@{/IndexUser}">STRIKES</a></li>
                    <li><a th:href="@{/BookTicket}">BOOKINGS</a></li>
                    <li><a th:href="@{/Admin}">ADMIN</a></li>
                </ul>
            </div>

            <div class="search">
                <input id="greyph" class="srch" type="search" name="" placeholder="Search">
                <a href="#"> <button class="btn">Search</button></a>
            </div>   
        </div> 
        
        <div class="content">
            <h1>Irelands <span>TOP</span> Railway</h1>
            <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
                 expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
                <br> a quae totam ipsa illum minus laudantium?</p>
                <div class="form">
                    <form name="f" th:action="@{/Index}" method="post">
                            <h2>Please Login</h2>
                            <div th:if="${param.error}" class="alert alert-error">    
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success"> 
                                You have been logged out.   
                            </div>
                            <input type="text" id="username" name="username" placeholder="Enter Email Here"/>        
                            <input type="password" id="password" name="password" placeholder="Enter Password Here"/>    
                            <div class="form-actions">
                                <button type="submit" class="btnn">Log in</button>
                            </div>
                    </form>  
                    <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a></p>
                </div>
        </div>
        
	<!-- Plan -->
	    <div class="content">
			<h1>Payment Plan</h1><br>
			<h2>Become a member today!</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
                    expedita atque eveniet</p> <br>
			<button type="button">Sign Up</button>
		</div>
    </div>
</body>
</html>